h1 {
  font-size: 20px;
}

img {
  height: 40px;
}

#image {
  background-image: url("./assets/back.png")
}

.image {
  height: 50px;
  display: inline-block;
}

#han-image {
  position: relative;
  width: 90%;
  background-image: url("./assets/back.png")
}

.han-image {
  height: 100px;
  position: absolute;
}

.back-box {
  background-image: url("./assets/back.png")
}

.not-display {
  display: none;
}

@media (max-width : 480px) {
  #han-image {
    position: relative;
    width: 70%;
    background-image: url("./assets/back.png")
  }
}